<%-include('../admin/layout/adminheader.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <form action="/admin/posteditproduct/<%= pdt._id %>" method="post" enctype="multipart/form-data">
                        <h3 class="text-light">Edit product</h3>
                </div>
                <div class="card-body p-4">
                    <!-- <form action="/admin/addproduct" method="post" enctype="multipart/form-data"> -->
                    <div class="mb-3">
                        <label for="">ProductName</label>
                        <!-- <input type="text" name="productName" class="form-control form-control-lg" /> -->
                        <input type="text" name="productName" value="<%= pdt.productName %>"
                            class="form-control form-control-lg" />
                    </div>
                    <div class="mb-3">
                        <label for="">ProductImage</label>
                        <!-- <input type="text" name="image" value=""class="form-control form-control-lg"/> -->
                        <input type="file" onchange="viewImage(event)" name="imagee" placeholder="choose an image"
                            multiple />
                        <div class="form-outline mb-4">
                            <img src="<%= pdt.image[0] %> " id="imgView" class="mb-3" width="100px" height="auto"
                                alt="">
                            <!-- <input type="file" name="image" class="form-control form-control-lg" placeholder="choose an image" multiple /> -->
                        </div>
                        <div class="mb-3">
                            <label for="Description">Description</label>
                            <input type="text" name="description" value="<%= pdt.description %>"
                                class="form-control form-control-lg" />
                            <!-- <input type="text" name="description" class="form-control form-control-lg" /> -->
                        </div>
                        <div class="mb-3">
                            <label for="category">Category</label>
                            <!-- <input type="text" name="cate" value=""class="form-control form-control-lg"/> -->
                            <select type="options" name="category" value="<%= pdt.cate %>"
                                class="form-control form-control-lg">
                                <% cate.forEach((el)=>{%>
                                    <option value="<%= el._id %>">
                                        <%= el.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="category">Size</label>
                            <input type="text" name="size" value="<%= pdt.size %>"
                                class="form-control form-control-lg" />
                            <!-- <input type="number" name="size" class="form-control form-control-lg"  /> -->
                        </div>
                        <div class="mb-3">
                            <label for="category">Price</label>
                            <input type="text" name="price" value="<%= pdt.price %>"
                                class="form-control form-control-lg" />
                            <!-- <input type="number" name="price" class="form-control form-control-lg"  /> -->
                        </div>
                        <div class="mb-3">
                            <label for="category">Stock</label>
                            <input type="text" name="stock" value="<%= pdt.stock %>"
                                class="form-control form-control-lg" />
                            <!-- <input type="number" name="stock" class="form-control form-control-lg"  /> -->
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success px-5">Edit</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function viewImage(e) {
            document.getElementById('imgView').src = URL.createObjectURL(e.target.files[0])

        }
    </script>







    <%-include('../admin/layout/adminfooter.ejs')%>