<%-include('../user/layout/userheader.ejs') %>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="actionmodel" action="/addcheckaddress/<%=user._id%>" method="post">
            <div class="form-outline mb-1">
              <label class="form-label" for="form3Example3">Name</label>
              <input type="text" class="form-control" name="Name" id="name" required />

            </div>

            <div class="form-outline mb-1">
              <label class="form-label" for="form3Example3">House</label>
              <input type="text" id="house" class="form-control" name="House" required />

            </div>

            <div class="form-outline mb-1">
              <label class="form-label" for="form3Example3">Post</label>
              <input type="text" class="form-control" id="post" name="post" required />

            </div>

            <div class="form-outline mb-1">
              <label class="form-label" for="form3Example4">Pin</label>
              <input type="number" id="pin" class="form-control " name="pin" required />
            </div>

            <div class="form-outline mb-1">
              <label class="form-label" for="form3Example4">City</label>
              <input type="text" id="city" class="form-control " name="city" required />
            </div>

            <div class="form-outline mb-1">
              <label class="form-label" for="form3Example4">District</label>
              <input type="text" id="district" class="form-control" name="district" required />
            </div>
            <!-- state input -->
            <div class="form-outline mb-1">
              <label class="form-label" for="form3Example4">State</label>
              <input type="text" id="state" class="form-control " name="state" required />
            </div>
            <input type="hidden" value="<%= orderdetails._id %>" name="orderid">
            <!-- Submit button -->
            <div class="d-flex justify-content-center mt-3">
              <button type="submit" class="btn btn-dark  ">Submit</button>
            </div>
          </form>
        </div>
        <!-- <div class="modal-footer">

        <button type="button" class="btn btn-primary">Add address</button>
      </div> -->
      </div>
    </div>
  </div>





  <div class="colorlib-product" id="checkoutform">
    <form  onsubmit="placeholder('<%= orderdetails._id %>');return false;" id="formplace" method="post">
    <div class="container">
      <div class="row row-pb-lg">
        <div class="col-sm-10 offset-md-1">
          <div class="process-wrap">
            <div class="process text-center active">
              <p><span>01</span></p>
              <h3>Shopping Cart</h3>
            </div>
            <div class="process text-center active">
              <p><span>02</span></p>
              <h3>Checkout</h3>
            </div>
            <div class="process text-center">
              <p><span>03</span></p>
              <h3>Order Complete</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-8">
          <div class="card border">
            
              <h5 class="text-secondary border-bottom py-2 mb-2" >Saved Addresses</h5>
              <% if(userdetails.address.length==0){ %>
                <h3 class="text-dark text-center">No Address Avaliable</h3>
                <p class="text-muted text-center"> Add new address</p>
                <% }else{ %>
              <% userdetails.address.forEach((val,i)=>{ %>
                <div>
                  <input type="radio"  name=group value="<%=val._id %>">
              <a class="text-decoration-none text-dark " data-toggle="modal" data-target="#accountCreationModal"
                id="item">
                <div class="card p-3 bg-light my-2" id="<%=val._id %>item">
                
                  <div class="d-flex justify-content-between">
                    <h6>Address <%=i+1 %> </h6>
                    <div class="col-md-6">
                     
                      
                      <p id="p"><%=val.name %></b>,&nbsp;<%= val.house +', '+ val.post +', ' + val.pin+','+ val.city +',' +val.district+', '+val.state   %></p>
                  
                    </div>
  
                  </div>
  
                </div>
              </a>
            </div>
              <% }) %>
              <% } %>
            
            <div class="bg-dash-dark-2 py-4">
              <div class="container-fluid d-flex justify-content-center">
               
               <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">
                      Add new address
                    </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" value="online" required> Online Payment</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" value="COD" required> COD </label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary"  >Place an order </button>
              </div>
            </div>
          </div>
        </div>
      </form>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="cart-detail">
                
                 
                <h2>Cart Total</h2>
                <ul>
                  <% orderdetails.productt.forEach((val)=>{ %> 
                    <li><span><%=val.product_id.productName%></span><span><%=val.price %></span></li>
                    <% }) %> 
                    
                 
                </ul>
                <ul> 
                  <li>
                    <!-- <span>Subtotal</span> <span>$100.00</span> -->
                
                  </li>
                  <!-- <li><span>Shipping</span> <span>$0.00</span></li> -->
                  <li><span>Order Total</span><%=orderdetails.bill_amount%> <span></span></li>
                  <li><span>Discount:</span><span id="discount" <%=orderdetails.coupon.discount%>></span></li>
                  <li><span>Final Amount:</span><span id="total"><%=orderdetails.bill_amount%></li></span>
                 
                </ul>
              </div>
            </div>

            <div class="w-100"></div>
            <!-- <input type="radio" id="option-1" name="group-name" value="option-1"> -->
            <div class="col-md-12">
              <div class="cart-detail">
                <h2>Payment Method</h2>
                <!-- <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" value="online" required> Online Payment</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" value="COD" required> COD </label>
                    </div>
                  </div>
                </div> -->
                <div id="response">
                  
                
                </div>
                <form class="card p-2">
                  <div class="input-group">
                    <input type="text" class="form-control"  placeholder="Enter your coupon" name="coupon" fdprocessedid="x6xu1g" id="coupon">
                    <div class="input-group-append">
                      <!-- <input type="hidden" id="orderid" value=""> -->
                      <button type="button"  class="btn btn-secondary" onclick="applycoupon('<%=orderdetails._id %>')" fdprocessedid="fy26s" style="border: 1px;">Apply</button>
                    </div>
                  </div>
                </form>
                
                

                <!-- <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio"> Paypal</label>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value=""> I have read and accept the terms and conditions</label>
                  </div>
                </div>
              </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12 text-center">
              <p><button type="submit" class="btn btn-primary"  >Place an order </button></p>
            </div>
          </div> -->
        </div>

      </div>


    </div>
  
  </div>
 
  <script>
    function placeholder(id)
    {
      console.log(id);
     console.log("place order started");
    $.ajax({
      type:"POST",
      url:'/user_order/'+id,
      data:$('#formplace').serialize(),
      dataType:'json',
      encode:true,
    }).done(function (data){
      if(data=='COD'){
        console.log("HELLOOOOO");
        swal.fire('COD applied Successfully',
        ).then(()=>{
          location.href='/orderSucess'
        })
      } else {
        console.log("you can choose another method..")
        razorpayPayment(data)
      }
    })

   }

   
   function applycoupon(odid){
    console.log("coupon working......");
    console.log(odid,"orderid coming")
    $.ajax({
      url:'/applycoupon',
      method:'post',
      dataType:'json',
      data:{coupon:$('#coupon').val(),id:odid}
   

    }).done(function (data){
      console.log(data.message);
   if (data.success==true){
        resHTML= '<div class="alert alert-success alert-dismissible"> ' +
              '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>' +
              '<strong>Success  </strong> ' + data.message +
              '</div>';
              $("#response").html(resHTML)
            const total = Number($('#total').html())
            const amount = data.coupon.percentage
            const finalprice = total - ((total * amount) / 100)
            $("#discount").html(data.coupon.percentage)
            console.log(finalprice);
            $("#total").html(Math.round(finalprice))
      }
      else {
            resHTML = '<div class="alert alert-danger alert-dismissible"> ' +
              '<button type="button" class="btn-close" data-dismiss="alert"></button>' +
              '<strong>Error!</strong> ' + data.message +
              '</div>';
            $("#response").html(resHTML)
          }

    })
   }
   
  // $("#placeorder").submit((e) => {
  //   console.log(e);
  //           e.preventDefault()
  //           $.ajax({
  //               url: '/user_order',
  //               method: 'post',
  //               data: $('#placeorder').serialize(),
  //               success: (response) => {
  //                   if (response.codSuccess) {
  //                       console.log('this is worked');
  //                       Swal.fire({
  //                           position: 'center',
  //                           icon: 'success',
  //                           title: 'Order Placed',
  //                           text: "Shop again",
  //                           customClass: 'swal-wide',
  //                           confirmButtonText: 'OK',
  //                           showConfirmButton: true,

  //                       }).then((result) => {
  //                           location.href = '/orderSuccess'
  //                       })
  //                   } else {
  //                       if (response.order == null) {
  //                           Swal.fire({
  //                               icon: 'error',
  //                               title: 'Connection Failed',
  //                               text: 'Please Check the Internet Connection!',
  //                               customClass: 'swal-wide',
  //                           })
  //                       } else {
  //                           razorpayPayment(response)
  //                       }
  //                   }
  //               }
  //           })
  //       })
   
        function razorpayPayment(order) {
          console.log("RRRRRRRRRRRRRRRR");
          console.log(JSON.stringify(order));
      var options = {
        "key": 'rzp_test_AjnMxfEbAXOegH',
        "amount": order.field.amount,
        "currency": "INR",
        "name": 'Step-Up Shoes',
        "description": "The Transaction is under test mode, enabled by Timex",
        "image": "/",
        "order_id": order.field.id,
        "handler": function(response) {
          order.payment = {}
          order.payment.raz_id = response.razorpay_payment_id
          order.payment.raz_oid = response.razorpay_order_id
          order.payment.raz_sign = response.razorpay_signature
          order.payment.id = '<%= orderdetails._id %>'
          paymentverification(order.payment)
        },
        "prefill": {
          "name": "name",
          "email": "name@example.com",
          "contact": "9999999999"
        },
        "notes": {
          "address": "Step-Up Shoes Pay"
        },
        "theme": {
          "color": "#000000"
        },
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }
    function paymentverification(order) {
      const orders = JSON.stringify(order)
      $.ajax({
        type: "POST",
        url: "/verifypayment",
        data: {
          orders
        },
        dataType: "json",
        encode: true,
      }).done(function(data) {
        if (data == 'ONLINEPAYMENT') {
          let timerInterval
          Swal.fire({
            title: ' Processing!',
            html: 'payment processing close in <b></b> milliseconds.',
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
              const b = Swal.getHtmlContainer().querySelector('b')
              timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
              }, 100)
            },
            willClose: () => {
              clearInterval(timerInterval)
            }
          }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
              Swal.fire(
                'Good job!',
                'payment success!',
                'success'
              )
              setTimeout(() => {
                location.href = '/orderSucess'
              }, 2000);
            }
          })
        } else {
          alert('failed')
        }
      })
    }
     
     
  </script>
     
  <%-include('../user/layout/userfooter.ejs') %>