<%-include('../user/layout/userheader.ejs') %>


    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0" >Order history</h1>
                </div>
                <!-- <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                        <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order history</li>
                    </ol>
                </nav>
            </div> -->
            </div>
        </div>
    </section>
    <div class=" col-md-10 ">

        <div class="admincard card card-default" style="border-color: white !important;">

            <div class="card-body ">
                <div class="card-body ">
                    <% if(orderDetails.length==0){ %>
                        <h3 class="text-dark text-center">No Orders</h3>
                        <div class="d-flex justify-content-center flex-coloumn">
                            <a href="/shop" class="btn btn-success">Go to Shop</a>
                        </div>
                    <% }else{ %>

                            <div class="table-responsive mb-4 border border-2 border-black">
                                <table class="table text-nowrap">
                                    <thead class="bg-light">
                                        <tr>
                                            <th class="border-0 p-3 ps-3"scope="col"> <strong
                                                    class="text-sm text-uppercase">Ordered Date</strong></th>
                                            <th class="border-0 p-3" scope="col"> <strong
                                                    class="text-sm text-uppercase">Address</strong></th>
                                            <th class="border-0 p-3" scope="col"> <strong
                                                    class="text-sm text-uppercase">Total price</strong></th>
                                            <th class="border-0 p-3" scope="col"> <strong
                                                    class="text-sm text-uppercase">Payment method</strong></th>
                                            <th class="border-0 p-3 text-center" scope="col"> <strong
                                                    class="text-sm text-uppercase">status</strong></th>
                                            <th class="border-0 p-3 text-center" scope="col"> <strong
                                                    class="text-sm text-uppercase">View detials</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="border-0">

                                        <% orderDetails.forEach((val)=>{ %>
                                            <tr>
                                                <th class="ps-0 py-3 border-light ps-3" scope="row">
                                                    <div class="d-flex align-items-center ">
                                                        <%= val.ordered_date.getDate() %>/<%=val.ordered_date.getMonth()+1 %>/<%=val.ordered_date.getFullYear() %>

                                                    </div>
                                                </th>
                                                <th class="ps-0 py-3 border-light align-middle" scope="row">
                                                    <div class="ms-3">
                                                        <%= val.address.name %><br>
                                                            <%= val.address.house %>
                                                    </div>
                                                </th>
                                                <td class="p-3 align-middle border-light">
                                                    <p class="mb-0 small">
                                                        <%= val.bill_amount-(val.bill_amount*val.coupon.discount)/100 %>
                                                    </p>
                                                </td>
                                                <td class="p-3 align-middle border-light">
                                                    <p class="mb-0 small ">
                                                        <%=val.payment.payment_method %>
                                                    </p>
                                                </td>
                                                <% if(val.order_status =="Cancelled"){%>
                                                <td class="p-3 align-middle border-light text-danger">
                                                    <%=val.order_status %>
                                                </td>
                                                <%}else{%>
                                                    <td class="p-3 align-middle border-light text-success">
                                                        <%=val.order_status %>
                                                    </td>
                                                    <%}%>
                                                </td>
                                                <td class="p-4 text-center border-light">
                                                <i class="bi bi-eye text-black"></i>
                                                <a  href="/singleorder/<%=val._id%> "><button class="rounded-circle "><i class="fa fa-eye" aria-hidden="true"></i>View</button></a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } %>
                                    </tbody>
                                </table>
                            </div>


                </div>

            </div>
        </div>
    </div>




    <%-include('../user/layout/userfooter.ejs') %>